*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

html{
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}  

body{
  font-size: 1.6rem;
  font-family: var(--font);
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  background-color: #f2f2f2;
}


table {
  border-collapse: collapse;
}

img,
picture{
    max-width: 100%;
    display: block;
}

ol, ul, menu {
  list-style: none;
}

input,
 textarea,
 select,
 optgroup {
    all: revert;
    outline: none;
    border: none;
    font-family: inherit;
    line-height: 1.15;
    width: 100%;
    min-height: 3rem;
    border-radius: .5rem;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

textarea {
  white-space: revert;
}

input, textarea {
  -webkit-user-select: auto;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button{
  outline: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
     }

  *,
  *::before,
  *::after{
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}